<div class="label text-center my-2 display-1">MODIFICAR EMPLEADO</div>
<div class="row mx-auto">
    <div class="card mx-auto mt-2" style="width: 40rem;">
        <div class="card-body">

            <h5 class="text-center">{{di}}</h5>
            <form action="/empleado/modificar:di" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Primer nombre</label>
                        <input type="text" name="nombre" class="form-control" placeholder="Primer nombre"
                            value={{nombre}}>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Primer apellido</label>
                        <input type="text" name="apellido" class="form-control" placeholder="Primer apellido"
                        value={{apellido}}>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Segundo nombre</label>
                        <input type="text" name="nombre2" class="form-control" placeholder="Segundo nombre"
                        value={{nombre2}}>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Segundo apellido</label>
                        <input type="text" name="apellido2" class="form-control" placeholder="Segundo apellido"
                        value={{apellido2}}>
                    </div>
                </div>

                <div class="form-group">
                    <label>Fecha de nacimiento</label>
                    <input type="date" name="fecha_nacimiento" class="form-control"
                    value={{fecha_nacimiento}}>
                </div>

                <div class="form-group" value={{genero}}>
                    <label>Genero</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="gm" name="genero" class="custom-control-input" value="M">
                        <label class="custom-control-label" for="gm">M</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="gf" name="genero" class="custom-control-input" value="F">
                        <label class="custom-control-label" for="gf">F</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="gt" name="genero" class="custom-control-input" value="T">
                        <label class="custom-control-label" for="gt">Otro</label>
                    </div>
                </div>

                <div class="form-group" value={{tipo_sangre}}>
                    <label>Tipo de sangre</label>
                    <br>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="to+" name="tipo_sangre" class="custom-control-input" value="O+">
                        <label class="custom-control-label" for="to+">O+</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="ta+" name="tipo_sangre" class="custom-control-input" value="A+">
                        <label class="custom-control-label" for="ta+">A+</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tb+" name="tipo_sangre" class="custom-control-input" value="B+">
                        <label class="custom-control-label" for="tb+">B+</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tab+" name="tipo_sangre" class="custom-control-input" value="AB+">
                        <label class="custom-control-label" for="tab+">AB+</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="to-" name="tipo_sangre" class="custom-control-input" value="O-">
                        <label class="custom-control-label" for="to-">O-</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="ta-" name="tipo_sangre" class="custom-control-input" value="A-">
                        <label class="custom-control-label" for="ta-">A-</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tb-" name="tipo_sangre" class="custom-control-input" value="B-">
                        <label class="custom-control-label" for="tb-">B-</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tab-" name="tipo_sangre" class="custom-control-input" value="AB-">
                        <label class="custom-control-label" for="tab-">AB-</label>
                    </div>
                </div>

                <div class="form-group"
                value={{titulo}}>
                    <label>Titulo</label>
                    <br>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tib" name="titulo" class="custom-control-input" value="B">
                        <label class="custom-control-label" for="tib">Bachiller</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tiq" name="titulo" class="custom-control-input" value="Q">
                        <label class="custom-control-label" for="tiq">Ing.Quimico</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tim" name="titulo" class="custom-control-input" value="M">
                        <label class="custom-control-label" for="tim">Ing.Mecanico</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tii" name="titulo" class="custom-control-input" value="I">
                        <label class="custom-control-label" for="tii">Ing.Industrial</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tig" name="titulo" class="custom-control-input" value="G">
                        <label class="custom-control-label" for="tig">Geologo</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tip" name="titulo" class="custom-control-input" value="P">
                        <label class="custom-control-label" for="tip">Ing.Planta</label>
                    </div>
                </div>

                <div class="form-group" value={{di_supervisor}}>
                    <label>DI Supervisor</label>
                    <input type="number" name="fk_supervisor" class="form-control" placeholder="DI Supervisor">
                </div>

                <button type="submit" class="btn btn-block btn-primary">Modificar</button>
            </form>
            
        </div>
    </div>
</div>