<div class="label text-center my-2 display-1">Juegos</div>
<div class="m-2 bg-white p-1">
    <table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad De Personas</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            {{#each juego}}
            <tr>
                <td>{{id}}</td>
                <td>{{nombre}}</td>
                <td>{{cant_personas}}</td>
                <td>{{descr}}</td>
                <form action="/empleado/eliminar{{di}}" method="GET">
                    <td><button class="btn btn-danger">eliminar</button></td>
                </form>
                <form action="/empleado/modificar{{di}}" method="GET">                   
                    <td><button class="btn btn-warning">modificar</button></td>
                </form>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad De Personas</th>
                <th>Descripcion</th>
            </tr>
        </tfoot>
    </table>
</div>