<div class="label text-center my-2 display-1">Precio Piezas</div>
<div class="m-2 bg-white p-1">

    <h5 class="text-center">Precio Actual: {{preciof}} Bs</h5>
    <table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Precio Bolivares</th>
                <th>Inflacion</th>
                <th>Pieza</th>
                <th>Fecha Fin</th>
            </tr>
        </thead>
        <tbody>
            {{#each historial}}
            <tr>
                <td>{{fecha}}</td>
                <td>{{precio_bs}}</td>
                <td>{{inflacion}}</td>
                <td>{{id_pieza}}</td>
                <td>{{fecha_fin}}</td>
                
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Fecha</th>
                <th>Precio Bolivares</th>
                <th>Inflacion</th>
                <th>Pieza</th>
                <th>Fecha Fin</th>
            </tr>
        </tfoot>
    </table>
</div>